@use '../../App.scss' as *;
.slide-category{
    
    margin: 20px 0;
    text-align: center;
    .btn-container{
        margin-bottom: 28px;
        .btn-category{
            line-height: 30px;
            font-size: 20px;
            color: #6c6d70;
            margin: 0 28px;
            &.isActive{
                border-bottom: 2px solid #221f20;
                color: #221f20;
            }
        }

    }
    
    .detail-link{
        outline: none;
        img{
            width: 100%;
            padding: 0 15px;
            &:hover{
                 + .img:hover{
                    display: flex;
                    position: absolute;
                }
            }
        }
        .info{
            padding: 0 15px;
            .info-header{
                display: flex;
                justify-content: space-between;
                margin: 16px 0 12px;
                .color-container{
                    position: relative;
                    cursor: pointer;
                    
                    &::before{
                        content: "\2713";
                        position: absolute;
                        color: #fff;
                        top:0;
                        left: 50%;
                        font-size: 12px;
                        transform: translateX(-50%);
                    }
                }
                button{
                    cursor: pointer;
                    i{
                        font-size: 18px;
                        color: #6c6d70;
                    }
                }
            }
            .name-product{
                font-size: 14px;
                line-height: 32px;
                display: flex;
                justify-content: flex-start;
            }
            .info-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0;
                h3{
                    font-size: 16px;
                    font-weight: 600;
                }
                button{
                    width: 32px;
                    height: 32px;
                    background-color: #221f20;
                    border-radius: 8px 0;
                    transition: 0.3s;
                    &:hover{
                        background-color: #fff;
                        border: 1px solid #221f20;
                        i{
                            color: #221f20;
                        }
                    }
                    i{
                        color: #fff;
                    }
                }
            }
            
        }
        
    }
    .slick-slider{
        position: relative;
        z-index: 2;
        .slick-prev,.slick-next{
            top:40%;
            &::before{
                color: #bcbdc0;
                font-size: 50px;
            }
            &:hover::before{
                color: #221f20;
            }
        }
        .slick-next{
            right: 70px;
            z-index: 10;
            &::before {
                content: "\1f852";
            }
        }
        .slick-prev {
            left: 40px;
            z-index: 10;
            &::before {
                content: "\1f850";
            }
        }
    }
    
}