@use '../../scss/' as *;
.slide {
    margin: 24px 0 40px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom:0;
        right: 0;
        width: 50%;
        height: calc(100% - 24px);
        border: 1px solid #bcbdc0;
        border-radius: 80px 0;
    }
    .slick-slider {
        position: relative;
        z-index: 2;
        width: calc(100% - 12px);
        border-radius: 80px 0;
        overflow: hidden;    
        .slick-prev {
            left: 20px;
            z-index: 10;
        }

        .slick-next {
            right: 45px;
            z-index: 10;
        }

        .slick-prev,
        .slick-next {
            top: 45%;
        }

        .slick-prev::before {
            content: "\1f850";
            left: 0;

        }

        .slick-next::before {
            content: "\1f852";
        }

        .slick-prev::before,
        .slick-next::before {
            color: #bcbdc0;
            font-size: 50px;
            @include size992{
                display: none;
            }
        }

        .slick-prev:hover::before,
        .slick-next:hover::before {
            color: #221f20;
        }

        .slide-link {
            
            .img-slide {
                width: 100%;
                
                min-height: 320px;
                object-fit: cover;
            }
        }

        .slick-dots {
            bottom: 20px;
            li button:before {
                content: "";
                width: 12px;
                height: 12px;
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid #D1D2D4;
                opacity: 1;
                transition: 0.3s;
                @include size992{
                    display: none;
                }
            }

            li button:hover::before {
                background-color: #fff;
            }

            li.slick-active button:before {
                background-color: #fff;
            }

        }
    }

}

/*fix slick-bottom*/
.slick-track .slick-slide .img-container {
    margin-bottom: -7px;
    outline: none;
}
/**/