@use './scss/' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #6c6d70;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  &:hover{
    color: unset;
    text-decoration: none;
  }
}

input{
  outline: none;
}
button{
  background: none;
  border: none;
}

h2{
  font-size: 30px;
  text-transform: uppercase;
  color: #221f20;
  letter-spacing: 2px;
}
.container {
  width: 1360px;
  padding: auto 15px;
  text-align: end;
  @include size1375{
    width: 1140px;
  }
  @include size1200{
    width: 970px;
  }
  @include size992{
    width: 92vw;
  }
  @include size768{
    width: 92vw;
  }
  
}

.slick-slide :focus {
  outline: none;
 }